html {
  background-color: azure;
  padding: 10px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline-style: groove;
  outline-color: cadetblue;
  text-align: center;
  letter-spacing: 3;
  color:darkslategray;
}

#data {
  color:darkslategray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  letter-spacing: 5;
}
