<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Hackathon Project</title>
    <link href="https://replit.com/@drvrajesh/hackathonproj#templates/index.css" rel="stylesheet" type="text/css" />
    
    <!-- Script to calculate score and redirect to the links page -->
    <script>
    function displayScore() {
      //Get participation data
      var earthHour = document.forms["data"]["hourParticipation"].value;
      var charity = document.forms["data"]["charityIncentives"].value;
      var rooftop = document.forms["data"]["rooftopGardens"].value;
      var solar = document.forms["data"]["solarPanels"].value;
      
      //Set score to 0
      var score = 0
      
      //Calculate score based on user input
      if (earthHour == "yes") {
        score ++;
      }
      if (charity == "yes") {
        score ++;
      }
      if (rooftop == "yes") {
        score ++;
      }
      if (solar == "yes") {
        score ++;
      }
      
      //Create new page with data related to score
      document.write("<h2> Your GreenScore is " + (score/4)*100 + "% </h2>");

      if (score == 4) {
        document.write("<p> Congratulations! You have surpassed environmental awareness standards. Check out the links below to learn more on what you can do to maintain this score, and test yourself in other unique ways! </p>");
        document.write("<a href='https://www.carbonfootprint.com/calculator.aspx'> Calculate your carbon footprint! </a> <br>");
        document.write("<a href='https://learn.eartheasy.com/guides/green-giving-guide-charity-that-makes-a-difference-to-the-planet/'> Participate in some more charities! </a>");
      } else {
        document.write("<p> You're close to finish line! Check out the links below to learn what you can do to improve this score and become more aware of the environment. </p>");
        document.write("<a href='https://www.carbonfootprint.com/calculator.aspx'> Calculate your carbon footprint! </a> <br>");
        document.write("<a href='https://news.climate.columbia.edu/2018/12/27/35-ways-reduce-carbon-footprint'> Reduce your carbon footprint! </a> <br>");
        document.write("<a href='https://learn.eartheasy.com/guides/green-giving-guide-charity-that-makes-a-difference-to-the-planet/'> Participate in some more charities! </a>");
      }

    }
    </script>
  </head>
  <body>
    <h1> GreenKnowledge </h1>

    <p> First, take the survey below to get your GreenScore. You will then be redirected to a page where we will give you useful links related to your GreenScore. </p>
  
    <!-- Form to get user input -->
    <form id="data" onsubmit="return displayScore()">
      <b> Environmental Participation </b> <br>
      Have you participated in Earth Hour? <input type="text" name="hourParticipation"><br>
      Have you partaken in environmental charity incentives? <input type="text" name="charityIncentives"><br>
      <hr>
      <b> Sustainability </b> <br>
      Do you have rooftop gardens? <input type="text" name="rooftopGardens"></input><br>
      Do you have solar panels? <input type="text" name="solarPanels"></input><br>
      <input type="submit" value="Submit">
    </form>



  </body>
</html>
